$primaryColor: "[theme: themePrimary]";

.navigator-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.navbar {
  display: inline-block;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0 1rem 0 0;
  padding: 0;
  white-space: nowrap !important;
  text-overflow: clip;
  scroll-behavior: smooth;
  ul {
    width: 12rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
    white-space: normal;
  }
  ul ul,
  ul ul ul {
    width: 14rem;
    left: 100%;
    margin-top: -2.15rem;
    white-space: normal;
  }
  ul:before,
  ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  ul:after {
    clear: both;
  }
}

.menu-item {
  margin: 0 0.2rem;
  display: inline-block;
  &.active a {
    color: "[theme: themePrimary, default: #000000]";
  }
  &.inactive > a {
    color: #333;
  }
  a {
    display: block;
    padding: 0.5rem 1rem;
    color: #999;
    font-size: 1rem;
    text-decoration-color: transparent !important;
    text-decoration-line: unset !important;
    text-decoration-style: unset !important;
  }
  &:hover > a,
  &:focus > a {
    color: #000;
    background-color: #ccc;
  }
  ul {
    display: none;
  }
  &:hover > ul,
  &:focus > ul {
    display: block;
    position: absolute;
    z-index: 99999;
  }
}

.menu-sub-item {
  float: none;
  margin: 0;
  background-color: #ccc;
  &.active > a {
    color: "[theme: themePrimary, default: #000000]";
  }
  &.inactive > a {
    color: #333;
  }
  a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
  &:hover > a,
  &:focus > a {
    color: #fff;
    background-color: "[theme: themePrimary, default: #000000]";
  }
  ul {
    display: none;
  }
  &:hover > ul,
  &:focus > ul {
    display: block;
    position: absolute;
    z-index: 99999;
  }
}

.menu-button {
  &.visible {
    display: block;
  }
  &.hidden {
    display: none;
  }
}
