$primaryColor: "[theme: themePrimary]";

.overlay-container {
  background-color: #fff;
  position: absolute;
  top: 3rem;
  right: 3rem;
  bottom: 3rem;
  left: 3rem;
}

.overlay-header {
  flex: 1 1 auto;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: $primaryColor;
  color: #666;
  display: flex;
  align-items: center;
  font-weight: bolder;
  padding: 1.5rem 1.5rem 0 1.5rem;
  h2 {
    margin: 0;
    color: $primaryColor;
  }
}

.close-button {
  color: #666;
  margin-left: "auto";
  margin-top: "4px";
  margin-right: "2px";
}

.overlay-body {
  color: #333;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  p {
    margin-top: 0;
  }
}

.overlay-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  row-gap: 3rem;
  padding: 0rem 1.5rem 2rem 1.5rem;
  button {
    margin-left: 0.5rem;
  }
}
